In [1]:
import pandas as pd
import numpy as np

In [8]:
#read csv and create a dataframe
df = pd.read_csv('Resources/Data_science_&stem_salaries.csv')
print(df)

                timestamp     company     level                         title  \
0       6/7/2017 11:33:27      Oracle        L3               Product Manager
1      6/10/2017 17:11:29        eBay      SE 2             Software Engineer
2      6/11/2017 14:53:57      Amazon        L7               Product Manager
3       6/17/2017 0:23:14       Apple        M1  Software Engineering Manager
4      6/20/2017 10:58:51   Microsoft        60             Software Engineer
...                   ...         ...       ...                           ...
62637   9/9/2018 11:52:32      Google        T4             Software Engineer
62638   9/13/2018 8:23:32   Microsoft        62             Software Engineer
62639  9/13/2018 14:35:59        MSFT        63             Software Engineer
62640  9/16/2018 16:10:35  Salesforce  Lead MTS             Software Engineer
62641   1/29/2019 5:12:59       apple      ict3             Software Engineer

       totalyearlycompensation           location  yearsofexperience  \
0                       127000   Redwood City, CA                1.5
1                       100000  San Francisco, CA                5.0
2                       310000        Seattle, WA                8.0
3                       372000      Sunnyvale, CA                7.0
4                       157000  Mountain View, CA                5.0
...                        ...                ...                ...
62637                   327000        Seattle, WA               10.0
62638                   237000        Redmond, WA                2.0
62639                   220000        Seattle, WA               14.0
62640                   280000  San Francisco, CA                8.0
62641                   200000      Sunnyvale, CA                0.0

       yearsatcompany                             tag  basesalary  ...  \
0                 1.5                             NaN    107000.0  ...
1                 3.0                             NaN         0.0  ...
2                 0.0                             NaN    155000.0  ...
3                 5.0                             NaN    157000.0  ...
4                 3.0                             NaN         0.0  ...
...               ...                             ...         ...  ...
62637             1.0  Distributed Systems (Back-End)    155000.0  ...
62638             2.0                      Full Stack    146900.0  ...
62639            12.0                      Full Stack    157000.0  ...
62640             4.0                             iOS    194688.0  ...
62641             0.0                         ML / AI    155000.0  ...

       Doctorate_Degree  Highschool Some_College Race_Asian  Race_White  \
0                     0           0            0          0           0
1                     0           0            0          0           0
2                     0           0            0          0           0
3                     0           0            0          0           0
4                     0           0            0          0           0
...                 ...         ...          ...        ...         ...
62637                 0           0            0          0           0
62638                 0           0            0          0           0
62639                 0           0            0          0           0
62640                 0           0            0          0           0
62641                 0           0            0          0           0

       Race_Two_Or_More  Race_Black  Race_Hispanic  Race  Education
0                     0           0              0   NaN        NaN
1                     0           0              0   NaN        NaN
2                     0           0              0   NaN        NaN
3                     0           0              0   NaN        NaN
4                     0           0              0   NaN        NaN
...                 ...         ...            ...   ...        ...
62637                 0           0              0   NaN        NaN
62638                 0           0              0   NaN        NaN
62639                 0           0              0   NaN        NaN
62640                 0           0              0   NaN        NaN
62641                 0           0              0   NaN        NaN

[62642 rows x 29 columns]

In [9]:
print(df.columns)

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [10]:
#create a salary dataframe
# we will look at years of experience,years at the company and the base salary to predidict total yearly pay
# so those three are our features and the outcome, "total yearly pay is the label  
salaryDF = df[['company', 'totalyearlycompensation', 'yearsofexperience', 'yearsatcompany', 'basesalary']]

In [11]:
print(salaryDF.head(100))

      company  totalyearlycompensation  yearsofexperience  yearsatcompany  \
0      Oracle                   127000                1.5             1.5
1        eBay                   100000                5.0             3.0
2      Amazon                   310000                8.0             0.0
3       Apple                   372000                7.0             5.0
4   Microsoft                   157000                5.0             3.0
..        ...                      ...                ...             ...
95     Amazon                   148000                1.0             1.0
96     Google                   273000                1.0             1.0
97  Microsoft                   240000                6.0             1.0
98     Google                   268000                5.0             3.5
99     Amazon                   290000               10.0             4.0

    basesalary
0     107000.0
1          0.0
2     155000.0
3     157000.0
4          0.0
..         ...
95         0.0
96    131000.0
97    150700.0
98    142000.0
99    160000.0

[100 rows x 5 columns]

# Creating the traning and testing data

y = totatyearlypay
x1 = yearsofexperience
x2 = yearsatcompany
x3 = basesalary

### Linear regression equation
y = w1x1 + w2x2 + w3x3 + b

In [16]:
x_train = salaryDF.iloc[:50000,2:]           # using the first 50,000 rows and the 2nd to the last column
y_train = salaryDF.iloc[:50000,1]            # total yearly pay but only for first 50,000
x_test = salaryDF.iloc[50000:,2:]            # testing data set for x_train
y_test = salaryDF.iloc[50000:,1]             # testing data set for Y_train
x_train.insert(loc=3, column='b', value=1)   # inserting new vaules 
x_test.insert(loc=3, column='b', value=1)    # inserting new vaules

In [32]:
print(y_test)

50000    226000
50001     89000
50002    153000
50003    112000
50004    150000
          ...
62637    327000
62638    237000
62639    220000
62640    280000
62641    200000
Name: totalyearlycompensation, Length: 12642, dtype: int64

In [31]:
print(x_test)

       yearsofexperience  yearsatcompany  basesalary  b
50000                6.0             4.0    147000.0  1
50001                2.0             1.0     88000.0  1
50002                4.0             0.0    118000.0  1
50003                3.0             1.0    112000.0  1
50004                4.0             0.0    145000.0  1
...                  ...             ...         ... ..
62637               10.0             1.0    155000.0  1
62638                2.0             2.0    146900.0  1
62639               14.0            12.0    157000.0  1
62640                8.0             4.0    194688.0  1
62641                0.0             0.0    155000.0  1

[12642 rows x 4 columns]

# Functions

In [23]:
#root mean square error
def rmse(targets, predictions):
    return np.sqrt((np.square(predictions - targets)).mean())

#calucate the weight
def calculateWeights(x_train, y_train):
    w = np.linalg.inv(np.transpose(x_train).dot(x_train)).dot(np.transpose(x_train).dot(y_train))
    return w

In [24]:
#
w = calculateWeights(x_train, y_train)
print(x_train.shape)

(50000, 4)

In [27]:
# training error,
y_train_pred = x_train.dot(w)
train_error = rmse(y_train, y_train_pred)
print(train_error)
# testing error
y_test_pred = x_test.dot(w)
test_error = rmse(y_test, y_test_pred)
print(test_error)

92469.43809773956
121382.52351504724

In [33]:
'''
y = totalyearlycompenstaion
x1 = yearsofexperience x2 = yearsatcompany x3 = basesalary
'''

new_pred = np.array([5, 3, 80000, 1]).dot(w)
print(new_pred)

135847.53227936738